@mixin wrapper-background() {
  background-color: rgba(255,255,255,0.9);
  backdrop-filter: saturate(5) blur(10px);
}

#app-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;

  .app-header-wrapper {
    padding: 16px 16px 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    @include wrapper-background;
  }
}

#app-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  .app-footer-wrapper {
    padding: 16px 16px 5px;
    border-top: 1px solid rgba(0,0,0,0.2);
    @include wrapper-background;
  }
}
